* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #bababa;
  background-color: #212121;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-weight: 200;
  margin: 30px 0;
}

footer {
  margin-top: 4rem;
  padding: 15px;
  color: rgb(139, 139, 139);
}

.services ul > li > span {
  font-size: 1em;
  line-height: 1.5;
}

.offline {
  color: #656565;
}

.online,
.normal-load {
  color: #188518;
}

.medium-load {
  color: #d4ab12;
}

.high-load {
  color: #bf621d;
}

.max-load {
  color: #bf1d1d;
}

.sub {
  font-size: 90%;
  border: 0;
}

.updated {
  color: #aaaaaa;
  font-size: 14px;
  text-align: right;
  font-weight: 100;
  font-style: italic;
}

.list-group {
  margin-bottom: 5px;
}
