extends ./index.jade

block footer
  .container
    .sp__footer
      .row
        .col-sm-6
          ul
            li
              a(title="About" href="/about") About Us
            li
              a(title="Privacy policy" href="/privacy") Privacy
        .col-sm-6.text-right
          ul
            li &copy; Swiftping 2016
