doctype html
html
  head
    base(href="/")
    title Pokemon Go Server Status  
      
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    meta(name="description" content="Check the status of the official Pokemon Go servers. Know if the servers are down just for you, or for everyone.")
    meta(name="keywords" content="pokemon go server status, pokemongo server status, pokemon go servers, pokemongo down, ninantic, pokemongo, server status")
    
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css")
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-74393698-4', 'auto');
      ga('send', 'pageview');
      
    //- inject:css
    //- endinject
    
  body
    .wrapper
      header
        block header
      block content
    footer
      block footer
      
    //- vendorDeps:js
    //- endinject
    //- vendor:js
    //- endinject
    //- app:js
    //- endinject

    block scripts
