extends ../index/index.jade

block content
  .container
    .row
      .col-md-12
        .logo
          | PokeGo Status
        h1 Pokemon Go Server Status (Live)
        div.mm
          ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-6993069428952088" data-ad-slot="5169397643" data-ad-format="auto")
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
            
        h4.live-text.pull-left(title="Updated every 5 seconds.")
          span
          | LIVE
        .pull-right.text-right
          p Follow our Twitter for server status updates the second any problems start occuring!
          | <a href="https://twitter.com/PokeGo_Status" class="twitter-follow-button" data-show-count="false">Follow @PokeGo_Status</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          | <div class="fb-like" style="vertical-align: top;" data-href="https://www.facebook.com/pokegostatus" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    .row
      .col-md-4
        h4.list-group-item Login Servers
        li.list-group-item.sub(id="global")
          span.title Google
          span.pull-right
            span.value Loading...
        li.list-group-item.sub(id="ptc")
          span.title PTC
          span.pull-right
            span.value Loading...
        h4.list-group-item Game Servers
        li.list-group-item.sub#generalStatus
          span.title Status
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#totalCount
          span.title Total Servers
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#onlineCount
          span.title Servers Online
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#offlineCount
          span.title Servers Offline (On standby)
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#normalLoadCount
          span.title.normal-load Normal Load
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#mediumLoadCount
          span.title.medium-load Medium Load
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#highLoadCount
          span.title.high-load High Load
          span.pull-right
            span.value Loading...
        li.list-group-item.sub#maxLoadCount
          span.title.max-load Max Load
          span.pull-right
            span.value Loading...
      .col-md-8
        h4.list-group-item PTC Login Response Times (seconds)
        .historical-chart
          .list-group-item.login-graph-loader Loading...
          canvas#ptc-graph(width="400" height="360")
        h4.list-group-item Google Login Response Times (seconds)
        .historical-chart
          .list-group-item.login-graph-loader Loading...
          canvas#google-graph(width="400" height="360")
        //- .historical-chart
        //-   canvas#server-graph(width="400" height="360")
    div.mm
      ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-6993069428952088" data-ad-slot="9503695649" data-ad-format="auto")
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});
    div.info
      h3 FAQ
      h5.q Where do you get your data from?
      p The above data is pulled directly from Google and the Pokemon Go servers.
      h5.q How up-to-date is your data?
      p The above statuses are never older than 1 minute. We pull the latest statuses from our database in real-time every 5 seconds. (No need to refresh!)
      h5.q I can't login to Pokemon Go but your site says it's online?
      p If there's a high number of servers that are under "Max Load" or "High Load", you may need to try a few times before you can get into the game.
      h5.q Do you have graphs for the past X days?
      p Historical graphs are coming very soon! We have millions of data entries to analyse and will be publishing some interesting statistics soon.
      
    footer
      p For further info and business enquiries: <a href="mailto:contact@pokegostat.us">contact@pokegostat.us</a>.
      p This website is not affiliated in any way with Niantic, The Pokemon Company or Nintendo.
      p Built and maintained by Gamerstats.net.
      div.mm
        ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-6993069428952088" data-ad-slot="6908326046" data-ad-format="auto")
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
