extends ../index/index.jade

block content
  .container
    footer
      p For further info and business enquiries: <a href="mailto:contact@pokegostat.us">contact@pokegostat.us</a>.
      p This website is not affiliated in any way with Niantic, The Pokemon Company or Nintendo.
      p Built and maintained by Gamerstats.net.
      p Play Rocket League? Check out and compare your ranks and stats at <a href="https://rocketleaguerank.com" title="Rocket League Rank">Rocket League Rank</a>.
